* {box-sizing: border-box;}
body { background-color: #EAEAEA; 
       color: #666666;
       font-family: Arial, Verdana, sans-serif; }
header { background-color: #002171; 
 height: 120px;
       color: #FFFFFF;
       font-family: Georgia, sans-serif;
         }

header a { text-decoration: none; }
header a:link { color: #FFFFFF; }
header a:visited { color: #FFFFFF;}
header a:hover { color: #90C7E3; }	

main { padding-left: 2em; padding-right: 2em; background-color: #FFFFFF; margin-left: 170px;
        overflow: auto;
display: block;}
 h1 { padding-top: 0.5em; 
text-align: center;
font-size: 3em;
letter-spacing: 0.25em;   }

h2 { color: #1976D2; 
	 font-family: Georgia, serif;}

h3 { font-family: Georgia, serif;}

nav { font-weight: bold; position: fixed;
        float: left; width: 160px; padding: 0; font-size: 1.2em;
padding-top: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em;}

dt { color: #002171;
	font-weight: bold; }

.resort { color: #1976D2;
        font-size: 1.2em; }

footer { text-align: center; background-color: #FFFFFF; margin-left: 170px;
        padding: 1em;
         font-size: .70em;
         font-style: italic; }
section { float: left;
        width: 33%;
        padding-left: 2em;
        padding-right: 2em;
}

#wrapper { margin-left: auto;
           margin-right: auto;
           width: 80%;
        background-color: #FFFFFF;
        background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
min-width: 980px;
max-width: 2048px;
box-shadow: 5px 5px 5px #1E1E1E; }

#yurthero { height: 300px; background: url(yurt.jpg) no-repeat; background-size: 100% 100%; margin-left: 170px;}
#homehero { background: url(coast.jpg) no-repeat; height: 300px; background-size: 100% 100%; margin-left: 170px;}
#trailhero { background: url(trail.jpg) no-repeat; height: 300px; background-size: 100% 100%; margin-left: 170px;}
nav a { text-decoration: none; }
nav a:link { color: #5C7FA3; }
nav a:visited { color: #344873; }
nav a:hover { color: #A52A2A; }
nav ul {text-decoration: none; padding-left: 1em; list-style-type: none;}